<a href="https://colab.research.google.com/github/rikrdinii1/PDN-Data21/blob/main/Analisis_Datos_Generales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

sns.set()

In [ ]:
# Lectura inicial de los datos
metadata = pd.read_csv('/content/drive/MyDrive/Dataton2021/metadata.csv')
data_gen = pd.read_csv('/content/drive/MyDrive/Dataton2021/Datos_Generales.csv')

# Transformacion de datos
metadata.drop('Unnamed: 0', axis=1,inplace=True)
metadata.reset_index(drop=True,inplace=True)
metadata['actualizacion'] = pd.to_datetime(metadata['actualizacion'])

data_gen.drop('Unnamed: 0', axis=1,inplace=True)
data_gen.reset_index(drop=True,inplace=True)
data_gen['regimenMatrimonial.valor'].replace({'Separación de Bienes':'SEPARACIÓN DE BIENES'}, inplace=True)
data_gen['situacionPersonalEstadoCivil.valor'].replace({'SOLTERO (A)':'SOLTERO', 
                                                        'DIVORCIADO (A)':'DIVORCIADO',
                                                        'CASADO (A)':'CASADO',
                                                        'VIUDO (A)':'VIUDO'},inplace=True)

In [ ]:
# Nos quedamos solo con las columnas utiles
cols = ['nombre', 'primerApellido', 'segundoApellido', 'curp', 'paisNacimiento',
       'nacionalidad', 'rfc.rfc', 'rfc.homoClave',
       'situacionPersonalEstadoCivil.clave',
       'situacionPersonalEstadoCivil.valor', '_id', 'id',
       'regimenMatrimonial.clave', 'regimenMatrimonial.valor']

data_gen = data_gen[cols]
data_gen.head()

     nombre primerApellido  ... regimenMatrimonial.clave regimenMatrimonial.valor
0  Patricio        Córdova  ...                      NaN                      NaN
1  Patricio        Córdova  ...                      NaN                      NaN
2  Patricio        Córdova  ...                      NaN                      NaN
3  Patricio        Córdova  ...                      NaN                      NaN
4  Patricio        Córdova  ...                      NaN                      NaN

[5 rows x 14 columns]

In [ ]:
# ¿Cuantas Declaraciones se han realizado por cada CURP?
dec_curp = data_gen.groupby('curp').agg({'id':'count'})
dec_curp.describe()

                id
count  5005.000000
mean      7.995804
std       0.154154
min       1.000000
25%       8.000000
50%       8.000000
75%       8.000000
max       8.000000

In [ ]:
data = pd.merge(metadata,data_gen,on='id')
data.drop('_id_x',axis=1,inplace=True)
data.head()

              actualizacion  ... regimenMatrimonial.valor
0 2018-06-12 23:00:00+00:00  ...                      NaN
1 2015-06-05 23:00:00+00:00  ...                      NaN
2 2017-06-06 23:00:00+00:00  ...                      NaN
3 2015-02-06 00:00:00+00:00  ...                      NaN
4 2020-06-08 23:00:00+00:00  ...                      NaN

[5 rows x 19 columns]